@font-face {
  font-family: 'Varela';
  src: url("./Fonts/Varela-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Varela";
  min-height: 100vh;
  background: linear-gradient(130deg, rgba(255, 230, 2, 0.7), rgba(255, 0, 0, 0.7));
}

header {
  font-size: 2rem;
  color: white;
}

header,
form {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form input {
  width: 15%;
  padding: 1rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
}

form input:focus {
  outline: none;
}

form button {
  padding: 0.5rem 1.5rem;
  border: none;
  background: white;
  color: rgba(255, 0, 0, 0.7);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

form button:hover {
  background: rgba(255, 230, 2, 0.7);
  outline: none;
}

form button:focus {
  outline: none;
}

.todos {
  width: 25%;
  margin: auto;
  list-style: none;
}

.todos .todo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.todos .todo-wrapper li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  font-size: 1.4rem;
  padding: 1rem 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.todos .todo-wrapper button {
  padding: 0.6rem 1rem;
  border: none;
  background: white;
  cursor: pointer;
  outline: none;
}

.todos .todo-wrapper button i {
  pointer-events: none;
}

.todos .todo-wrapper .checked {
  color: #00973f;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.todos .todo-wrapper .checked:hover {
  background: #00973f;
  color: white;
}

.todos .todo-wrapper .deleted {
  color: #c01b1b;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.todos .todo-wrapper .deleted:hover {
  background: #c01b1b;
  color: white;
}

.line {
  text-decoration: line-through;
}

.completed {
  opacity: 0.6;
}

.fade {
  -webkit-transform: translateY(8rem) rotateZ(20deg);
          transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  width: 15rem;
  padding: 0.9rem;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.7);
  padding: 1rem;
  pointer-events: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */